body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: black;
    background-size: cover;
    background-position: center;
    opacity: 0.97;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.signal {
	background-image: url('logowbg.png');
    background-color:#333 ;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
	color: aliceblue;
    opacity: 0.97;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h2{
	  text-align: center; /* Add this line */
	background-color: red;
}